/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #fffbfb;
    color: #333;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header .logo {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
}
footer {
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 12px;
   margin-top: auto;
}

footer p:first-of-type{
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: #ff9c08;
    font-weight: 700;

}
.product-list {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;

}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item a{
    text-decoration: none;
}
.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s;
}

.product-item img:hover {
    transform: scale(1.05);
}

.product-item h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;

}

.product-item p {
    margin: 5px 0;
    color: #666;
    text-decoration: none;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.product-images {
    flex: 1;
    padding-right: 20px;
}

.product-images img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.product-images img:hover {
    transform: scale(1.05);
}

.product-info {
    flex: 2;
}

.product-info h2 {
    margin: 0;
    font-size: 2rem;
    color: #333;
}

.product-info p {
    margin: 10px 0;
    color: #666;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
    }

    .product-images {
        padding-right: 0;
    }
}


.remove-button {
    margin-left: 10px;
    padding: 2px 5px;
    font-size: 12px;
    background-color: #893939;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 500px;
}

.remove-button:hover {
    background-color: #ff1a1a;
}

.cart-container {
    padding: 20px;

}

.cart {
    padding: 20px;
}
